body {
	background: #343333;
	font-family: 'Indie Flower', cursive;
	color: white;
}


canvas {
	height: 632px;
	width: 704px;
/*	border: solid 1px white;*/
    position: relative;
	top: -170px;
	z-index: -50;
}

h1 {
	font-size: 90px;
	text-align: center;
	color: #40ADF7;	
	margin: 0px;
}

label {
	font-size: 40px;
	color: #40ADF7;
}

p {
	display: inline;
}


.container {
	
	width: 704px;
	margin: 70px auto 0px auto;
	
}

.sub-container {
	position: relative;
	top: -290px;
}

.sub-section {
	margin: -25px 15px;
	font-size: 20px;
	text-align: center;
}

.sub-section > button {
	background: none;
	color: #49F848;
	font-size: 30px;
	border: none;
	cursor: pointer;
	text-align: center;
}


button.minus {
	color: #F73C67;
}


.setup-section > div {
	text-align: center;
	display: inline-block;
	margin: 20px 10px;
	position: relative;
	left: 12%;
}

.start-btn {
	background: #49F848;
	border: none;
	border-radius: 16px;
	font-size: 50px;
	padding: 20px 30px;
	position: relative;
	left: 40%;
	cursor: pointer;
	transition: 0.3s;
}

#myImage {
	display: none;
}

#sessionLbl {
	font-size: 60px;
	text-align: center;
	color: #F73C67;
	
}

#breakLbl {
	font-size: 60px;
	text-align: center;
	color: #49F848;
}